<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880828067983-uf6t7psb2i0g44mhv73k53k39as7r97c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880828067983-uf6t7psb2i0g44mhv73k53k39as7r97c</string>
	<key>API_KEY</key>
	<string>AIzaSyCjDbh_pg-CIzLN7vccp6OLEaAbDT09dy4</string>
	<key>GCM_SENDER_ID</key>
	<string>880828067983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daml.FirebaseDBApp</string>
	<key>PROJECT_ID</key>
	<string>fir-database-example-1d3b9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-database-example-1d3b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880828067983:ios:aa5bd9233e1f0e993240fa</string>
</dict>
</plist>